<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>295429808788-0fi8oe56tveqcfaab6pqqdreoldqr8j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295429808788-0fi8oe56tveqcfaab6pqqdreoldqr8j3</string>
	<key>API_KEY</key>
	<string>AIzaSyCgHSL3QvtuAZR744ZUDu232pdT1R-NWnc</string>
	<key>GCM_SENDER_ID</key>
	<string>295429808788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mike.Scheddit</string>
	<key>PROJECT_ID</key>
	<string>scheddit-45cce</string>
	<key>STORAGE_BUCKET</key>
	<string>scheddit-45cce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295429808788:ios:83f88a723c5c56b0</string>
	<key>DATABASE_URL</key>
	<string>https://scheddit-45cce.firebaseio.com</string>
</dict>
</plist>